.navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--navigationHeight);
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;

    &__button {
        margin: 1rem;
        cursor: pointer;
    }
}